
@{
    ViewData["Title"] = "OrderCreate";
}

<h1>OrderCreate</h1>

<div class="alert alert-info">
    <p>
        <b>ثبت سفارش</b>
        <br/>
        سفارش شما با موفقیت ثبت گردید در لیست سفارشات خود میتوانید انرا مشاهده کنید 
        <br/>
        <a asp-action="Index" asp-controller="Order">مشاهده سفارشات </a>

    </p>
</div>